<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, 	minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="../css/moreMember.css"/>
    <script>
        //rem转换
        (function(doc){
            function changeSize(){
                var size=doc.documentElement.clientWidth/320*20;
                doc.querySelector('html').style.fontSize=size+'px';
            }
            //用户缩放浏览器窗口大小时
            window.onresize=changeSize;
            changeSize();
        })(document);
    </script>
</head>
<body ng-controller="moreMember">
    <div id="noneMember-title">你还没有会员卡哟，赶快开通吧~</div>
    <div id="banner"></div>
    <div id="allCard">
        <div class="allCardBg-ld" ng-repeat="i in more">
            <div class="brand" style="background:url('../img/{{i.bgModel}}');background-size:100% 100%;background-repeat:no-repeat;">
                <a href="">
                    <img src="../img/{{i.brand}}" alt="" class="brandImg"/>
                    <div class="movieName">{{i.name}}</div>
                    <div class="movie-details">{{i.details}}</div>
                    <div class="salePrice">{{i.price}}</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
<script src="../js/angular.js"></script>
<script src="../js/angular-route.js"></script>
<script src="../js/moreMember.js"></script>