<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, 	minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="../css/sensitizeCode.css"/>
</head>
<body>
    <div id="sensitizeContent">
        <div>
            <input type="text" placeholder="请输入兑现码" id="inputCode"/>
            <input type="button" value="添加" id="addSensitizeBtn"/>
        </div>
        <div id="useCodeStep">如有多个码,请一次输入并点击添加,最后点击成功</div>
        <div id="successCodeBox"><a href="" id="successCode">完成</a></div>
    </div>
</body>
</html>