<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, 	minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="../css/useInstruction.css"/>
</head>
<body>
    <div id="useInstruction">
        <ol>
            <li><span>1. </span>电影选座“兑换券”是百度糯米发放的一种兑换凭证，用户可以凭借兑换券在百度糯米电影频道兑换同等数量的在线选座电影票（不含团购电影票）。</li>
            <li><span>2. </span>每种电影选座“兑换券”有不同的兑换范围和使用规则，用户应按照活动细则等我司公示的其他规则进行使用。</li>
            <li><span>3. </span>电影选座“兑换券”不找零，一张电影选座“兑换券”只能兑换一张在线选座电影票。</li>
            <li><span>4. </span>若兑换券的售卖价格高于对应影票的售卖价格，则差价不予退回；若兑换券的售卖价格低于对应影票的售卖价格，则差价无需补齐。</li>
            <li><span>5. </span>电影选座“兑换券”购买后，当购买订单下无已兑换的兑换码时，可支持按订单进行整单退款。用户购买码或渠道赠送码，退款途径均为原路退回。对于兑换券不开发票。兑换券兑换为影票后由相应影院开具等额发票。</li>
            <li><span>6. </span>电影选座兑换券一旦兑换为影票，不支持更换场次、不支持退票退款。但是，如果由于系统原因导致出票失败而发生退款，用户实际使用电影选座“兑换券”可退回，退回的电影选座“兑换券”在有效期内可再次使用。</li>
            <li><span>7. </span>电影兑换券只限于普通消费者使用且有数量限制，若超过数量限制或非普通消费使用（包括但不限于虚假验证、商家自用等非正常使用情形），百度糯米有权立即取消订单并采取其他限制或追责措施。</li>
            <li><span>8. </span>所有电影选座“兑换券”严禁出售或转让，如经发现，将予以作废处理，作废前使用电影选座“兑换券”购买的订单，用户需补足差额。</li>
            <li><span>9. </span>电影选座“兑换券”不可以和糯米电影抵用券、会员卡、红包、礼品卡等同时使用，也不能与优惠活动同享。</li>
            <li><span>10. </span>在法律规定的范围内，百度糯米对电影选座“兑换券”的使用规则有优先解释权。</li>
        </ol>
        <div id="useInstruction-bottom">
            <div class="servicePhone">如有疑问可致电（9:00-21:00）</div>
            <div class="servicePhone">客服电话:  <span>4006-099-866</span></div>
        </div>
    </div>
</body>
</html>