<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, 	minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title></title>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/voucher.css"/>
</head>
<body>
    <div id="voucherContent">
        <div id="voucherHeader" class="clearfix">
            <span id="voucher">抵用卷</span>
            <a href="" id="instruction">使用说明</a>
        </div>
        <div id="voucherSearch">
            <input type="text" placeholder="请输入抵用卷兑换码" id="inputSearch-voucher"/>
            <input type="button" value="添加" id="voucherAdd"/>
        </div>
        <div id="noneVoucher">
            <div id="noneVoucherbgImg"></div>
        </div>
        <div id="voucherReturn">
            <a href="../../../index.html"><i class="fa fa-home"></i><p>首页</p></a>
        </div>
    </div>
</body>
</html>