@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
html,body{
    width:100%;
    height:100%;
    background:#EEEEEE;
}
#useInstruction{
    padding:0.9rem 0.6rem 0.6rem 1rem;
}
li{
    color:#111111;
    line-height:22px;
    font-size:15px;
    padding-bottom:10px;
    font-family:"微软雅黑";
}
li>span{
    color:#111111;
}
#useInstruction-bottom{
    text-align:center;
    padding:20px 0;
}
.servicePhone{
    color:#898989;
    padding-bottom:10px;
}
.servicePhone>span{
    color:#FF2E5E;
    font-weight:bolder;
}