@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;  
}
html,body,.box{
    width: 100%;
    height: 100%;
    
    
}
header{
    width: 100%;
    height:4rem ;
    text-align: center;
    margin-top:1rem ;
   
    span{
        position: absolute;
       left:1.5rem ;
       top: 1.5rem;
       width: 1.5rem;
       height: 1.5rem;
       z-index: 111;
        img{
       width: 100%;
    }
    }
    input{
        width: 92%;
        height:3rem;
        position: relative;
        padding-left: 2.5rem;
        background: #f2f2f2;
        outline: none;
        border: 0;
        font-size: 1.5rem;
    }
    
}

.content{
    width: 100%;
    .top{
        width: 100%;
        height:16rem;
        background: #F2F4F5;
//      background: radial-gradient(white 30%,#00BFFF 90%);
        
        dl{          
            width: 100%;
            display: flex;
            -webkit-flex-direction: row;
            -webkit-justify-content: space-around;
            dt{
                 padding-left: .5rem;
                width: 40%;
                img{
                    width: 100%;
                }
            }
            dd{
                 padding-left: 1rem;
                 width: 60%;
                 div{
                     font-size: 1.8rem;
                     margin-top: .5rem;
                     &:nth-child(1){
                         font-size: 2.1rem;
                     }
                     &:nth-child(2){
                         color: #ff7600;
                     }
                 }
                 
            }
        }         
    }
     ul{
            width: 100%;
            display: flex;
            -webkit-flex-direction:row;
            -webkit-justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:#c8c8c8 ;
                    font-size:1.8rem;
                }
            }
        }
        .line-text{
            width: 100%;
            height: 11rem;
             border-top: 1px solid darkgray;  
            div{  
                          
                padding-left:1.2rem ;
                margin-top:.7rem;  
                &:nth-child(2){
                   font-size: 1.2rem; 
                   color:#939393;
                }
                 &:nth-child(3){
                   font-size: 1.4rem; 
                   color:#e94c70;
                   span{
                       display: inline-block;
                       &:nth-child(2){
                           width: 13rem;
                           height: 1.7rem;
                           border: 1px solid #e94c70;
                           text-align: center;
                       }
                   }
                }
                
                
                
                               
                &:nth-child(1){
                     font-size: 1.8rem;
                    color: #050508;
                    span{
                       &:nth-child(1){
                            color: white;
                        font-size: 1.2rem;
                        border: 1px solid #ffb73e;
                        display: inline-block;
                        background: #ffb73e;
                       }
                       &:nth-child(2){
                            color: white;
                        font-size: 1.2rem;
                        border: 1px solid #7ec31f;
                        display: inline-block;
                        background: #7ec31f;
                       }
                       
                    }
                }
            }
        }
    
    }